@use "../custom" as *;

// Email-No Input
.emailForm {
	height: 55px;
	background-color: $gray-200;
	font-size: large;
	// border-color: red;
	// border-width: 3px;

	&:focus {
		border-color: $orange;
	}

	&::placeholder {
		color: $gray-600;
	}

	&:hover {
		background-color: $gray-100;
	}
}

// list group item hover colour
.list-group-item:hover {
	background-color: $orange;
	color: $gray-100;
}