/* Constants */
:root{
	--hepsi-grey: #EEEEEE;
	--hepsi-color: #FF6000;
	--radioBtn-font-color: #484848;
	--mailInput-font-color: #757575;
	--mailInput-hover-color: #F5F5F5;
	--main-radius: 10px
}

/* Page Jumbotron */
.jumbotron{
	color: var(--hepsi-color);
}

/* Sign Radio Buttons */
#signInLabelId, #signUpLabelId{
	--bs-btn-font-weight: 700;
	--bs-btn-padding-x: 3.6rem;
	--bs-btn-padding-y: 0.6rem;
	--bs-btn-color: var(--radioBtn-font-color);
	--bs-btn-active-color: var(--radioBtn-font-color);
	--bs-btn-active-border-color: var(--hepsi-grey);
	--bs-btn-border-width: 2px;
	--bs-btn-bg: var(--hepsi-grey);
	--bs-btn-border-radius: var(--main-radius);
}

/* Email-No Input */
#noMailInput{
	height: 55px;
	background-color: var(--hepsi-grey);
	font-size: large;
	border-radius: var(--main-radius);
}

#noMailInput::placeholder{
	color: var(--mailInput-font-color);
}

#noMailInput:hover{
	color: var(--mailInput-hover-color);
}

/* Submit button */
#signInSubmit{
	background-color: var(--hepsi-color);
	color: white;
	font-weight: 500;
	width: 350px;
	height: 60px;
	--bs-btn-border-radius: var(--main-radius);
}
